body

 {
  front-family : ' Special Elite ' , cursive;
  background:white;
 }

 .header_div
{
    background:white;
    color:red;
}

header_div p{
    font-famliy:'Robto', sans-serif ;
    margin-top:30px;
    width: 130px;
    front-weight:bolder;
    letter-spacing: 3px;
}
.copy_right_footer {
    position :fixed;
    color:darkslategrey;
    bottom: 0;
    width: 100%;
    font-size:18px;
    background-color:rgb(231, 231, 231);
    line-height: 3;
    text-align:center;
    text-shadow:5px 5px 5px rgb(151, 149, 149)
}
